@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    list-style: none;
}

body{
    width: 86.1vw;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

header img{
    width: 3.155em;
}

header h1{
    font-family: "DM Sans";
    font-size: 2.25em;
    color: #D04F4F;
}

.searchall{
    position: relative;
    display: block;
    height: 4.3125em;
    width: 100%;
    margin: 1.0625em auto 0;
}

#search{
    height: 100%;
    width: 100%;
    padding: 0 5em 0 1.5em;
    font-family: "Lato";
    font-weight: 400;
    border: none;
    background-color: #E7E7E7;
    border-radius: 0.3125em;
}

.loupe{
    position: absolute;
    top: 50%;
    right: 1.026875em;
    width: 2.00375em;
    transform: translate(0, -50%);
}

.tags{
    display: flex;
    margin-top: 1.25em;
}

.tags>li{
    position: relative;
    width: 10.625em;
    height: 4.3125em;
    margin-right: 1.25em;
    border-radius: 0.3125em;
}

.groupbutton{
    display: flex;
    align-items: center;
    width: 10.625em;
    height: 4.3125em;
    z-index: 2;
}

.tags button{
    width: 100%;
    height: 100%;
    padding-right: 2.8em;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    font-family: "Lato";
    font-weight: 700;
}

.tags img{
    position: absolute;
    right: 1.125em;
    width: 1em;
    pointer-events: none;
}

.tags>li:nth-child(1){
    background-color: #3282F7;
}
.tags>li:nth-child(2){
    background-color: #68D9A4;
}
.tags>li:nth-child(3){
    background-color: #ED6454;
}

.specificsearch{
    display: none;
    width: 15em;
    margin: 1.375em;
    background-color: transparent;
    color: white;
    text-emphasis-color: white;
    border: none;
    outline: none;
}

.specificsearch::placeholder{
    color: white;
}

.listall{
    display: none;
    justify-content: space-between;
    position: relative;
    max-height: 32em;
    width: 100%;
    overflow: scroll;
    padding-bottom: .5em;
    border-radius: 0.3125em;
    z-index: 1;
}

.listall li{
    color: white;
    width: 28%;
    margin: 0 0 1em 2em;
    cursor: pointer;
    font-family: "Lato";
    font-weight: 400;
}

.ustensils{
    background-color: #ED6454;
}
.ingredients{
    background-color: #3282F7;
}
.appliances{
    background-color: #68D9A4;
}

.groupbutton.listopened{
    position: absolute;
    right: 1em;
    top: 1.4em;
    width: 1.2em;
    height: 1.2em;
    transform: rotate(180deg);
}

.groupbutton.listopened button{
    padding-right: 0;
}

.groupbutton.listopened img{
    right: 0;
}

.tags>li.listopened{
    width: auto;
    max-width: 41.6875em;
    max-height: 24.8125em;
}

.specificsearch.listopened{
    display: initial;
}

.listall.listopened{
    display: flex;
    flex-wrap: wrap;
}

.selectedtags{
    display: flex;
    flex-wrap: wrap;
    margin: 1.25em 0 -1.25em;
}

.selectedtags li{
    display: flex;
    padding: 0.625em 1.25em;
    margin: 0 1.25em 1.25em 0;
    font-size: 0.875em;
    font-family: "Lato";
    font-weight: 700;
    color: white;
    border-radius: 0.3125em;
    cursor: pointer;
}

.selectedtags li img{
    margin: 0 0.125em 0 0.8125em;
}

.selectedingredient{
    background-color: #3282F7;
}

.selectedappliance{
    background-color: #68D9A4;
}

.selectedustensil{
    background-color: #ED6454;
}

.recettes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    margin: 5.125em 0;
}

.recettes article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22.75em;
    padding: 0 1.25em 1.25em;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #E7E7E7;
    border-radius: 0.3125em;
}

.recettes .imagecontainer{
    position: relative;
    left: 0;
    width: calc(100% + 2.5em);
    height: 50%;
    margin: 0 -1.25em;
    align-self: flex-start;
    background-color: #C7BEBE;
}

.recettes .name{
    width: 50%;
    font-size: 1.125em;
    font-family: "Lato";
    font-weight: 400;
}

.recettes .timecontainer{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.recettes .timecontainer p{
    margin-left: 0.4375em;
    font-size: 1.125em;
    font-family: "Lato";
    font-weight: 700;
}

.recettes .timecontainer img{
    width: 1.25em;
    height: 1.25em;
}

.recettes .needs{
    width: 50%;
    font-size: 0.75em;
    font-family: "Lato";
    font-weight: 700;
}

.recettes .needs span{
    font-family: "Lato";
    font-weight: 400;
}

.recettes .description{
    width: 50%;
    height: 50%;
    font-size: 0.75em;
    font-family: "Roboto";
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1em; /* fallback */
    max-height: 7em; /* fallback */
    -webkit-line-clamp: 7; 
    -webkit-box-orient: vertical;
}


@media screen and (max-width: 1200px){
    .recettes{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 920px){
    body{
        font-size: 2.2222vw;
    }
    .recettes{
        grid-template-columns: 1fr;
        font-size: 1.3em;
    }

    .tags{
        flex-direction: column;
        align-items: center;
    }

    .tags>li{
        margin-bottom: 1.25em;
    }

    .recettes{
        margin-top: 0;
    }
}